 nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1 ;
  color: #FFFFFF;
  top: 0;
  
  padding: 1.5em;
  position: fixed;
  width: 100%;
 }

 nav .header {
  font-family: "Bungee", sans-serif ;
  display: flex;
 }

 nav .navtext {
   display: flex;
   flex-direction: column;
   font-size: 18px;

 }

 nav .navp {
   display: flex;
   flex-direction: row;
 }

 .arrowicon {
   align-self: center;
   color:red;
     
 }

 
 
 
 