.new-tweet{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em;
  flex-grow: 4;
 }
 
 .form-bar {
   display: flex;
   flex-direction: column;
   padding-top: 20px;
  }
 
  #tweet-text {
    width: 100%;
    border:none;
    background-color: transparent;
    border-bottom: 4px solid #000;  
  }
 
  .tweetbutton {
    display: flex;
    justify-content: space-between;
    padding-top: 0.4em;
  }
  
  button {
    background-color: #4056A1;
    color: #FFFFFF;
  }
  
  .errormessage {
    border: 1px solid #fcc2c3;
    justify-content: left;
    padding: 0px 30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 25px;
    font-weight: bolder;
    color: #D8000C;
    background-color: #FFD2D2;
  }
  .userimage {
    align-self: center;
    margin-top: 30px;
  }
  